<!-- partials/app-footer.ejs -->

<div
  id="kt_app_footer"
  class="app-footer d-flex flex-column flex-md-row align-items-center flex-center flex-md-stack"
>
  <!--begin::Copyright-->
  <div class="text-gray-900 order-2 order-md-1">
    <span class="text-gray-500 fw-semibold me-1">2026&copy;</span>
    <a
      href="https://keenthemes.com"
      target="_blank"
      class="text-gray-500 text-hover-primary"
      >Loqum | Healthcare, on demand.</a
    >
  </div>
  <!--end::Copyright-->
</div>
