<!-- partials/app-footer.ejs -->

<div
  id="kt_app_footer"
  class="app-footer d-flex flex-column flex-md-row align-items-center flex-center flex-md-stack"
>
  <!--begin::Copyright-->
  <div class="text-muted order-2 order-md-1">
    <span class="text-muted fw-semibold me-1">2026&copy;</span>
    Loqum Solutions | Healthcare, on demand.
  </div>
  <!--end::Copyright-->
</div>
