{
  "tabWidth": 2,
  "printWidth": 100,
  "trailingComma": "es5",
  "embeddedLanguageFormatting": "auto",
  "overrides": [
    {
      "files": ["*.ejs", "*.html", "*.htm"],
      "options": {
        "parser": "html"
      }
    }
  ]
}